#follicule {
  animation: folcj 5s ease 9s  forwards;
}
#cache {
  /* animation: cache 5s ease 3s forwards; */
}
#ovule-1 {
  animation: disparition-ovule 4s ease 7s forwards;
}
@keyframes disparition-ovule {
  0% {opacity:1}
  100% {opacity:0}
}
@keyframes hideshow {
  0% { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0; }

  100% { opacity: 0; }
}
@keyframes folcj {
  0% {
    stroke-width: 0,8px;
  }
  100% {
    stroke-width: 30px;
    stroke: yellow;
  }
}

@keyframes cache {
  0% { transform:
    translate(0, 0);
  }

  100% { transform:
    translate(-20px, 0);
  }
}

@keyframes ovulation {
  0% { transform:
    translate(0,0);
  }
  100% { transform:
    translate(100px, 20px);
  }
}
@media (max-width : 640px) {
  rect {
    fill: red;
    height: 250;
  }
}
